extends ../layout

block content
  h1 Search Results

  table.table.table-striped
    thead
      tr
        th Results
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
      each author in authors
        tr
          td= author.name
      each genre in genres
        tr
          td= genre.name
