extends layout

block content
  h1 Books List

  table.table.table-striped
    thead
      tr
        th Title
        th Authors
        th Genres
    tbody
       th book
       th books
        tr
          td
            a(href="/books/")= books
