body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  width: 70%;
  height:70%;
}

.jumbotron {
  background-image: url("../images/guild_library.png");
  background-size: cover;
  background-repeat: no-repeat center center;
}

.invisible {
  visibility: hidden;
}
