extends ../layout

block content
  h1 Welcome

  .jumbotron
      .container
        h1 Welcome to Learner's Guild Library
        p Created by Nico and James in week 8. This website enables guilders the ability to checkout books in the Oakland library.
          a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;
