extends layout

block content
  h1 Sign In

  form(action="/books", method="post") Add A Book!
    input(type="text" name="title", value="Book Title")
    input(type="text" name="description", value="Description")
    input(type="text" name="cover", value="Cover url")

    input(type="submit", value="Sign In")
